@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rf8ng9');
  src:  url('fonts/icomoon.eot?rf8ng9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rf8ng9') format('truetype'),
    url('fonts/icomoon.woff?rf8ng9') format('woff'),
    url('fonts/icomoon.svg?rf8ng9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acces-off:before {
  content: "\e900";
}
.icon-acces-on:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-agenda:before {
  content: "\e903";
}
.icon-avis:before {
  content: "\e904";
}
.icon-add-panier:before {
  content: "\e905";
}
.icon-details:before {
  content: "\e906";
}
.icon-left:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e908";
}
.icon-panier:before {
  content: "\e909";
}
.icon-price:before {
  content: "\e90a";
}
.icon-retour:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-payment:before {
  content: "\e90d";
}
.icon-facebook22:before {
  content: "\ea93";
}
.icon-instagram2:before {
  content: "\ea94";
}
