RewriteEngine On
ErrorDocument 404 http://www.saine-food.fr/404.php
<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "DENY"
</IfModule>
<IfModule mod_headers.c>
Header always set X-XSS-Protection "1; mode=block"
</IfModule>
<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>
